<!DOCTYPE html>
<html lang="en">
<head>
    <title>Suicide School</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ch.css') }}">
    <link rel="shortcut icon" href="{{url_for('static', filename = 'img/favicon-16.png')}}">
    
    <script
            src="https://code.jquery.com/jquery-3.2.1.js"
            integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{{url_for('static', filename='js/chapter.js')}}"></script>
</head>
<body onload="onLoad(3)">
    <a href="http://soylatte.kr:4102/main"><img src="{{ url_for('static', filename='img/logo.png') }}" id="logo"></a> <br> <br>
    <img src="{{ url_for('static', filename='img/chapter3.jpg') }}" id="banner"> <br>

    <a href="http://soylatte.kr:4102/chapter?ch=2" id="pre">< 이전</a>
    <a href="http://soylatte.kr:4102/chapter?ch=4" id="next">다음 ></a>

    <p id="before">
        <br>
        이 방법을 사용하기 위해서는 적당한 두께의 밧줄이 필요하다 <br>
        보통의 밧줄은 사람의 몸무게를 버티지 못하고 끊어지기 쉬워 <br>
        밧줄을 직접 만드는 것이 자살 성공 확률을 높일 수 있다 <br>
        그러므로 얇은 선 세개를 구해 밧줄을 따보자 <br><br><br>
    </p>

    <p id="after">
        <br>
        밧줄 하나만 있으면 되는 방법으로 간단하다 <br>
        하지만 시체는 그렇게 아름다운 모습은 아닐 것이다 <br>
        목을 매달고 압력이 가해지는 순간 눈물, 침, 콧물, 실금을 저리게 된다 <br>
        확실하게 가능한 환경과 준비를 하자 <br>
        자칫 살기라도 해서 평생 불구가 되고, <br>
        요양만 받는 몸이라면 정말 괴로울 것이다 <br><br><br>
    </p>
</body>
</html>
