<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Suicide School</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user.css') }}">
    <link rel="shortcut icon" href="{{url_for('static', filename = 'img/favicon-16.png')}}">
    
    <script
            src="https://code.jquery.com/jquery-3.2.1.js"
            integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{{url_for('static', filename='js/signup.js')}}"></script>
</head>
<body>
    <a href="http://soylatte.kr:4102/main"><img src="{{ url_for('static', filename='img/logo.png') }}"></a> <br><br><br>

    <input type="text" placeholder="ID" class="txt" id="id"> <br>
    <input type="password" placeholder="PASSWORD" class="txt" id="password"> <br>
    <input type="password" placeholder="PASSWORD CHECK" class="txt" id="passwordCheck"> <br>
    <input type="button" value="Sign Up" id="btn" onclick="onClick()"> <br>
</body>
</html>
