@import url(https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css);

::-webkit-scrollbar {
    display:none;
    }

body {
    background-color: #1e1e1e;
    color: white;
    font-family: 'NanumSquare', sans-serif;

    text-align: center;
    margin: 0px;
}

#logo {
    width: 100px;
    margin-top: 20px;
}

#banner {
    width: 100%;
}

p {
    font-size: 20px;
    font-weight: lighter;
    line-height: 1.38em;
}

#after {
     display: none; 
}

#pre {
    position: fixed;
    left: 15px;
    bottom: 5px;
    font-size: 25px;
}

#next {
    position: fixed;
    right: 15px;
    bottom: 5px;
    font-size: 25px;
}

a {
    text-decoration: none;
    color: white;

    margin-top: 10px;
}
